.registration{
    width: 100%;
    /* height: 80vh; */
    background-image: url("../../assets/img/regBanner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}
.glass-card {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.041);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.1);
}




